@charset "UTF-8";
/* Base */

@font-face {
    font-family: fonteNoMercado;
    src: url(../fonts/canaro-light-demo.otf);
}

html {
    background-color: #f8f9fa!important;
}

body {
    line-height: 1.7;
    color: gray;
    font-weight: 300;
    font-size: 1rem;
}

::selection {
    background: #000;
    color: #fff;
}

a {
    transition: 0.3s all ease;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn.btn-primary {
    border-width: 2px;
    background: #e3002d;
    border-color: #e3002d;
    color: #fff;
    box-shadow: 0 4px 20px -5px rgba(242, 58, 46, 0.4);
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;
}

.section-title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 2rem !important;
}

header {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background: #f8f9fa;
    margin-bottom: 1rem;
}

header a {
    color: #000;
    font-weight: 700;
}

body {
    background: #f8f9fa;
}

.alert-success {
    position: absolute;
    top: 430px;
    margin-left: 685px;
    padding: 6px 150px;
}

#loading {
    color: #dc3545 !important;
    position: absolute;
    top: 381px;
    margin-left: 1137px;
}

@-webkit-keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spinner-border {
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    vertical-align: text-bottom;
    border: 0.30em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border 0.75s linear infinite;
    animation: spinner-border 0.75s linear infinite;
}

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em;
}

@-webkit-keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        opacity: 1;
    }
}

@keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        opacity: 1;
    }
}

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow 0.75s linear infinite;
    animation: spinner-grow 0.75s linear infinite;
}

.spinner-grow-sm {
    width: 1rem;
    height: 1rem;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding-right: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 6px 12px 6px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: #000;
    background-color: inherit;
    font-family: Poppins-Regular;
    margin: 0;
    font-weight: 700;
}

.form-control {
    margin-bottom: 10px;
    font-size: medium;
}

/*#area-lista {
    visibility: hidden;
}*/

.btn_remove {
    max-height: 25px !important;
    max-width: 25px !important;
    margin: 5px 0 0 15px;
}

.table-dropdown th {
    margin: 0 auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.table-dropdown-categorias th {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}

.area-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    color: #8f9ba6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.area-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.area-radio:hover input~.checkmark {
    background-color: #f5f5f5;
}

.area-radio input:checked~.checkmark {
    background-color: #dc3545;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.area-radio input:checked~.checkmark:after {
    display: block;
}

.area-radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.table-dropdown span, .table-dropdown input[type=number] {
    font-size: 15px;
}

.dropdown .dropdown-toggle {
    color: #8f9ba6;
    font-size: medium;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    overflow: visible;
    text-align: left;
}

.show {
    -webkit-animation: fadein 0.25s;
    -moz-animation: fadein 0.25s;
    -ms-animation: fadein 0.25s;
    -o-animation: fadein 0.25s;
    animation: fadein 0.25s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.profile-pic {
    width: 240px;
    height: 238px;
    display: block;
}

.file-upload {
    display: none !important;
}

.upload-area:hover {
    cursor: pointer;
}

.circle {
    border-radius: 15px !important;
    overflow: hidden;
    width: 250px;
    height: 250px;
    border: 6px solid #ffffff;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

.circle:hover {
    border: 6px solid rgba(220, 53, 69, 0.3);
    transition: all .5s;
}

.circle:hover .profile-pic {
    opacity: 0.5;
    transition: all .5s;
}

.title-cad-pro {
    margin-top: 0 !important;
    margin-bottom: 2.5rem !important;
}

.area-ing-adc {
    margin-left: -55px;
    font-size: 16px;
}

.area-ing-adc table {
    max-width: 250px;
    min-width: 250px;
    width: 250px;
}

.area-ing-adc table th {
    text-align: center !important;
}

.area-ing-adc table tr td:nth-child(1) {
    text-align: left !important;
}

.main-form {
    margin: 0 0 0 auto;
}

.main-section {
    padding-right: 0 !important;
}

.btn-categoria {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.btn-submit {
    margin-top: 20px;
    padding: 12px;
    font-size: 16px;
}

input[type="number"]:disabled {
    color: #ffffff;
    background: #ffffff;
}

.table-adicionais .titulo-categoria .value-ad-title:disabled, .table-adicionais .titulo-categoria .value-ad-title, .table-adicionais .titulo-categoria .obrig-ad-title:disabled {
    display: none;
}

.table-adicionais tr td {
    text-align: center !important;
    margin: 0 auto;
}

.section-produtos {
    margin-top: 55px;
}

.ver-produtos .profile-pic {
    width: 88px;
    height: 91px;
    display: block;
}

.ver-produtos .circle {
    border-radius: 15px;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: 6px solid #ffffff;
    margin: 0 auto;
}

.dropdown-center {
    left: 50% !important;
    transform: translate(-50%, 0%) !important;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 35px;
    right: 40px;
    background-color: #f3d317;
    color: #ffffff !important;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    visibility: visible;
    opacity: 1;
}

.my-float {
    margin: 16px;
}

.float:hover .my-float {
    opacity: 0.9;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    cursor: pointer;
}

#chat-list {
    position: fixed;
    width: 350px;
    height: 425px;
    bottom: 110px;
    right: 30px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    display: none;
    opacity: 1;
    border-radius: 5px;
    background: #fdfdfd;
    z-index: 999999999999;
}

.chat-template {
    margin-bottom: 15px;
    width: 100%;
    border-radius: 10px;
    background-color: #f3d317ad;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    font-size: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: 500;
}

.chat-header {
    margin-bottom: 5px;
    height: 40px;
    width: 100%;
    box-shadow: 1px 1px 1px #cecece;
}

.chat-header h2 {
    margin-top: 20px;
}

.chat-menus {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2.5px;
    overflow-x: scroll;
    position: relative;
    height: 360px;
}

.chat-all {
    overflow-x: scroll;
    position: relative;
    height: 315px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -5px;
}

.chat-area {
    padding-bottom: 10px;
}

.chat-text-field {
    position: absolute;
    bottom: 0.5%;
    left: 0%;
    display: flex;
}

.chat-text {
    width: 290px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 10px;
    margin-right: 5px;
    margin-left: 8px;
    box-shadow: 2px 2px 3px #cecece;
}

#chat-send {
    padding: 6px 12px 6px 12px;
    background-color: #6cf317;
    color: #ffffff !important;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
}

.chat {
    border-radius: 5px;
}

.chat p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.chat-in {
    text-align: left;
    background: #6cf317a1;
    width: 50%;
    margin-left: 50%;
}

.chat-out {
    text-align: left;
    background: #f3d317a6;
    width: 50%;
}

.arrow-back {
    font-size: 23px;
    color: #ff0000ab;
    left: 4%;
    top: 5%;
    position: absolute;
    display: none;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #cecece;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #dfdfdf;
}

.img-perfil-index {
    margin-top: 35px;
    width: 275px;
    height: 275px;
    border-radius: 15px;
}

.col-0-5 {
    -ms-flex: 0 0 4.151515%;
    flex: 0 0 4.151515%;
    max-width: 4.151515%;
}

.btn-atualizar-produtos {
    height: 50px;
    border-radius: 10px;
    right: 0;
    margin-left: 20px !important;
}

.btn-atualizar-produtos i {
    font-size: 22px;
    margin: 9px 7px 0px 7px;
}

.form-editar-produtos .col-0-5, .form-editar-produtos .col-1, .form-editar-produtos .col-2, .form-editar-produtos .col-4, .form-editar-produtos .col-6, .form-editar-produtos .dropdown-area, .form-editar-produtos .col {
    margin-top: 30px;
    margin-right: 5px;
}

.form-editar-produtos {
    padding-bottom: 30px;
    border-bottom: 1px solid #cecece;
    margin-left: 5px;
    margin-right: 10px;
}

.section-ver-produtos {
    margin-top: 35px;
}

.vendas-lista {
    display: inline-flex;
}

.vendas-lista table {
    font-size: 14px;
    width: 70%;
}

.vendas-lista img {
    height: 345px;
}

.area-imagem-vendas {
    display: inline-flex;
    height: 345px;
}

.area-imagem-vendas .data-aprovado {
    position: absolute;
    top: 7px;
    color: #55b202;
    font-weight: bold;
    font-size: 12px;
}

.area-imagem-vendas .data-separacao {
    position: absolute;
    top: 105px;
    color: #55b202;
    font-weight: bold;
    font-size: 12px;
}

.area-imagem-vendas .data-transporte {
    position: absolute;
    top: 200px;
    color: #55b202;
    font-weight: bold;
    font-size: 12px;
}

.area-imagem-vendas .data-finalizado {
    position: absolute;
    top: 303px;
    color: #55b202;
    font-weight: bold;
    font-size: 12px;
}

#modal-vendas .modal-dialog {
    max-width: 1000px;
}

.quebra-linha {
    margin-top: 15px;
    margin-bottom: 15px;
}

header .dropdown-content {
    z-index: 999999999999;
}

.area-tipos {
    margin-bottom: 10px;
}

.area-tipos form {
    margin: 0 20px 0 0;
}

.area-vermais a {
    margin-top: 10px;
    box-shadow: 0px 2px 5px 0px #dfdfdf;
}

.area-vermais a span {
    font-size: 14px;
}

.area-vermais .btn-atualizar-produtos span {
    font-size: 18px;
    margin-left: 5px;
}

.area-vermais .dropdown-menu {
    width: 100%;
    top: -33px !important;
    background: #f8f9fa!important;
    border: 0 !important;
}

.vertical-center {
    margin: 0 !important;
    position: absolute !important;
    top: 50% !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
}

.flex {
    display: inline-flex;
}

.switch-est-disp {
    margin-left: 100px;
}

.aguardando-vendas .switch-ver-vendas-disp {
    margin-left: 0 !important;
    width: 49px;
    height: 24px;
    margin-right: 5px;
}

.aguardando-vendas .slider:before {
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
}

.area-switch-disponivel {
    position: absolute;
    top: 0;
    left: 19%;
}

.area-horario {
    padding: 15px 30px 25px 30px;
}

.area-nada-por-aqui {
    padding-bottom: 20px;
    width: 425px;
    margin: 0 auto;
}

.area-nada-por-aqui div {
    text-align: center;
    padding: 25px;
}

.form-editar-produtos div {
    padding: 0 0 0 0 !important;
}

.form-editar-produtos .area-image, .form-editar-produtos .area-image .upload-area {
    padding: 0 !important;
}

.form-editar-produtos .btn-atualizar-produtos {
    margin-right: 0 !important;
}

#ver-mais-produtos {
    margin: 30px 0 10px 0;
    width: 25%;
    position: absolute;
    left: 38%;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 16px;
}

.area-search-produto {
    margin: 0 auto;
    padding-top: 20px;
}

.area-search-produto button {
    margin: 0 10px 0 10px;
    height: 35px;
    font-size: 14px;
}

.area-search-produto-options {
    margin: 0 auto;
}

.area-search-produto #clean-search {
    display: none;
    position: absolute;
    font-size: 20px;
    left: -1%;
    top: 29%;
    font-weight: 700;
    cursor: pointer;
}

.item-index {
    height: 175px;
    border-radius: 20px;
    background-color: #ffffff;
    margin-bottom: 15px;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.item-index:hover {
    -webkit-box-shadow: 0 0 1.5em rgba(94, 94, 94, 0.2);
    box-shadow: 0 0 1.5em rgba(94, 94, 94, 0.2);
    cursor: pointer;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.full-index {
    width: 100%;
    text-align: center;
}

.area-options {
    display: inline-flex;
}

.item-index .image {
    width: 100%;
    height: 80%;
}

.item-index .image i {
    font-size: 75px;
    margin-top: 20px;
}

.item-index .text {
    width: 100%;
    height: 20%;
}

#img-profile {
    width: 50px;
    width: 45px;
    margin-top: -12px;
}

#img-profile {
    height: 55px;
    width: 55px;
    margin-top: -12px;
}

.section-cupons .show {
    display: inline-block !important;
}

.produto:not(.changed):hover {
    background: #cecece;
    opacity: 0.5;
}

.produto:hover {
    cursor: pointer;
}

#lista-produtos .item-produto:hover {
    opacity: 0.6;
    cursor: pointer;
}

.remove-empty-space {
    overflow: -moz-hidden-unscrollable;
    overflow: hidden;
}

.vertical-center-rel {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-div-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.blink {
    -webkit-animation: blink 0.8s linear infinite;
    -moz-animation: blink 0.8s linear infinite;
    animation: blink 0.8s linear infinite;
}

.aguardando-vendas:hover {
    box-shadow: 0 0 2em #cecece;
    cursor: pointer;
}

.aguardando-vendas label:hover {
    cursor: pointer;
}

.site-section {
    padding-bottom: 100px;
}

.table-adicionais tr:hover {
    background: #f5f5f5;
    cursor: pointer;
}

.table-ingredientes tr:hover {
    background: #f5f5f5;
    cursor: pointer;
}

.aguardando-vendas {
    z-index: 9999999999;
    background: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 0 2em #cecece;
}

/********** QR SECTION **********/

.etiquetas-qr-section .title {
    width: 384px;
    height: 42px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    color: #4F4F4F;
}

.etiquetas-qr-section .mesa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    position: absolute;
    width: 82px;
    height: 56px;
    left: 386px;
    top: calc(50% - 56px/2);
    border: 2px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 8px;
    position: static;
    width: 64px;
    height: 40px;
    left: 9px;
    top: 8px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #828282;
}

.etiquetas-qr-section .list-desks {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    padding: 8px 24px;
    width: 468px;
    border-radius: 8px;
    margin-top: 32px;
}

.etiquetas-qr-section .list-desks .item {
    width: 100%;
    height: 64px;
    border-bottom: 0.5px solid #DDDDDD;
}

.etiquetas-qr-section .list-desks .item:hover {
    cursor: pointer;
    background: #F2F2F2;
}

.etiquetas-qr-section .list-desks .item span:nth-child(1) {
    height: 32px;
    width: 100%;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #828282;
    margin: 16px 0px;
}

.etiquetas-qr-section .list-desks .item .actions {
    width: 88px;
    height: 64px;
    padding: 12px 0px;
}

.etiquetas-qr-section .list-desks .item .actions div {
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding: 8px;
}

.etiquetas-qr-section .list-desks .item .actions div img {
    height: 24px;
    width: 24px;
}

.etiquetas-qr-section .list-desks .item .actions div:nth-child(1) {
    margin-right: 8px;
}

.etiquetas-qr-section .more-item {
    padding: 18px 0px;
    text-align: center;
    cursor: pointer;
}

.etiquetas-qr-section .more-item .more {
    border-right: 0.5px solid #DDDDDD;
    padding-right: 15px;
}

.etiquetas-qr-section .more-item .more div {
    padding: 8px;
    margin-right: 8px;
}

.etiquetas-qr-section .more-item .more div img {
    height: 16px;
    width: 16px;
}

.etiquetas-qr-section .more-item .more span {
    width: 149px;
    height: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #F16B24;
    margin: 8px 0px 6px 0px;
}

.etiquetas-qr-section .more-item .all-qr div {
    padding: 8px;
    margin-right: 8px;
}

.etiquetas-qr-section .more-item .all-qr div img {
    Width: 17.27px;
    Height: 15px;
}

.etiquetas-qr-section .more-item .all-qr span {
    width: 161px;
    height: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #F16B24;
    margin: 8px 0px 6px 0px;
}

.etiquetas-qr-section .search {
    width: 468px;
    margin-top: 16px;
    display: block;
}

.etiquetas-qr-section .search span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

.etiquetas-qr-section .search input[type="button"] {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 16px;
    width: 141px;
    height: 40px;
    background: #F16B24;
    border-radius: 4px;
    margin-top: 32px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

/********** LOADING PURE CSS **********/

.lds-ring {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    margin-top: 3px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}